<!-- Le stuff du personnage -->
<section class="stuff w-full p-4" *ngIf="stuff">
  <div class="bg-gray-900">
    <div class="sm:flex-auto">
      <h2 class="text-base font-semibold leading-6 text-white">Le stuff</h2>
      <p class="mt-2 text-sm text-gray-300">Stuff du personnage</p>
    </div>
    <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-6 lg:grid-cols-4">
      <li class="col-span-1 flex rounded-md shadow-sm" *ngFor="let item of stuff.items">
        <div
          class="flex w-16 items-center justify-center bg-gray-700 rounded-l-md content-normal">
          <a href="" [attr.data-wowhead]="'item=' + item.item_id + '&domain=fr'"><img src="https://wow.zamimg.com/images/wow/icons/large/{{ item.icon }}.jpg"></a>
        </div>
        <div
          class="flex flex-1 items-center justify-between truncate rounded-r-md border-b border-r border-t border-gray-200 bg-white">
          <div class="flex-1 truncate px-4 py-2 text-sm">
            <a href="#" class="font-medium text-gray-900 hover:text-gray-600">{{ item.name }}</a>
            <p class="text-gray-500">{{ item.emplacement }} - {{ item.ilvl }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
