<!-- Colonne de droite, ACTIVITES -->
<aside
  class="bg-black/10 lg:fixed lg:bottom-0 lg:right-0 lg:top-16 lg:w-96 lg:overflow-y-auto lg:border-l lg:border-white/5">
  <header class="flex items-center justify-between border-b border-white/5 px-4 py-4 sm:px-6 sm:py-6 lg:px-8">
    <h2 class="text-base font-semibold leading-7 text-white">Activités</h2>
    <!--        <a href="#" class="text-sm font-semibold leading-6 text-indigo-400">View all</a>-->
  </header>
  <ul *ngIf="activites; else noActivites" role="list" class="divide-y divide-white/5 list-activite">
    <li *ngFor="let activite of activites.activitesArray" class="px-4 py-4 sm:px-6 lg:px-8 list-activite-item">
      <div class="flex items-center gap-x-3">
        <img
          src="{{ activites.thumbnail_url }}"
          alt="" class="h-6 w-6 flex-none rounded-full bg-gray-800">
        <h3 class="flex-auto truncate text-sm font-semibold leading-6 text-white">{{ activites.pseudo}}</h3>
        <time datetime="2023-01-23T11:00" class="flex-none text-xs text-gray-600 date">{{ activite.date | date:"d/M/Y" }}</time>
      </div>
      <span
        class="inline-flex items-center gap-x-1.5 rounded-md px-2 py-1 text-xs font-medium text-white ring-1 ring-inset ring-gray-800">
            <svg class="h-1.5 w-1.5 fill-blue-400" viewBox="0 0 6 6" aria-hidden="true">
              <circle cx="3" cy="3" r="3"/>
            </svg>
            {{ activite.donjon }} ({{ activite.niveau }})
          </span>
    </li>
  </ul>
  <ng-template #noActivites><p class="text-sm text-gray-200 no-activite m-3">Aucune activité</p></ng-template>
</aside>
<!-- Colonne de droite, ACTIVITES -->
